* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-size: 25px;
  background-color: forestgreen;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: forestgreen;
  color: white;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
}
