* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-size: 25px;
  background-color: pink;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: pink;
  color: white;
  padding: 5px;
  margin: 20px;
  justify-content: space-around;
  font-weight: bold;
}

.container a {
  text-decoration: none;
  color: white;
}

.container a:hover {
  background-color: lightpink;
}
